/* font-family: 'Fredoka', sans-serif;
font-family: 'Odibee Sans', cursive; */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: rgb(250, 245, 219);
	font-family: "Fredoka", sans-serif;
}
